<div id="aboutBody">

  <div id="part1" class="partBx">
    <div class="aboutBx">
        <div id="abtText1" class="abtCont2">
          <p>kfkfjflffjfjpfjp</p>
        </div>
    </div>

    <div class="aboutBx">
      <div id="abtImg1" class="abtCont"></div>
    </div>
  </div>


  <div id="part2" class="partBx">
    <div class="aboutBx">
        <div id="abtText2" class="abtCont2">
          <p>kfkfjflffjfjpfjp</p>
        </div>
    </div>

    <div class="aboutBx">
      <iframe id="abtImg2" class="abtCont" width="854" height="480" src="https://www.youtube.com/embed/_6celVmTED8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


  <div id="part3" class="partBx">
    <div class="aboutBx">
      <div id="abtImg3" class="abtCont3"></div>
    </div>

    <div class="aboutBx">
      <div id="abtText3" class="abtCont2">
        <p>kfkfjflffjfjpfjp</p>
      </div>
    </div>
  </div>



</div>
