<div id="contactBx">
  <div id="contactInfo">

    <div class="businessInfo">
      <p>Location: </p>
    </div>
    <div class="businessInfo">
      <p>Staff: </p>
    </div>
    <div class="businessInfo">
      <p>Contact: </p>

    </div>
    <div class="businessInfo">
      <p>Feedback: </p>
    </div>


  </div>
</div>
