

<div id="section1">
  <div id="homeImg1"></div>
  <p id="homeText1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor pharetra nibh id
    mattis. Praesent vitae lectus sollicitudin, imperdiet sem vitae, consectetur lorem. Maecenas lacus elit,
    venenatis eget tempus ac, tempor eu libero. Aenean rutrum ultricies turpis nec tempus. Cras nibh purus,
    laoreet id viverra quis, dictum vitae nisi. Sed efficitur mattis metus, quis tempus turpis tristique ut.
    Nullam mattis convallis nulla, vel rutrum ante pharetra quis. In elit quam, porttitor et laoreet id,
    pellentesque maximus ligula. Praesent eros nunc, ornare viverra accumsan volutpat, suscipit tristique massa. Praesent sollicitudin tortor non elit tincidunt semper. Vivamus tempus turpis eget urna commodo tincidunt.
    In aliquet, risus nec aliquet cursus, arcu lorem aliquet lectus, ac porttitor leo ipsum sit amet nulla.
    Sed fringilla leo lacinia justo porta, sit amet sagittis eros scelerisque. Vestibulum vitae velit in magna
    rutrum aliquet sed non urna. Nullam elementum dui augue, a blandit urna mattis a.

  Phasellus in porta nulla. Morbi lobortis sed tellus nec ultricies. Nulla diam orci, finibus in mi in, imperdiet maximus nisi. Nam commodo eleifend ex ac faucibus. In eu nisi feugiat ligula tincidunt condimentum. Quisque ac sollicitudin orci. Ut sapien lacus, mollis id arcu at, vestibulum sodales justo. Suspendisse viverra, libero sed fringilla hendrerit, nisi nisi dignissim mi, eget mattis elit odio vel dui. Mauris lacinia hendrerit turpis, id ullamcorper nisl sollicitudin nec. Maecenas consectetur pretium metus sit amet finibus. Donec ullamcorper, elit
  vitae egestas facilisis, nibh sapien sollicitudin massa, nec finibus leo nulla a ante. Nulla rhoncus tincidunt viverra. Mauris elementum a mi eget porttitor.
  </p>

</div>
<div id="section2">
  <div id="homeImg2"></div>
  <p id="homeText2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor pharetra nibh id mattis. Praesent vitae lectus sollicitudin, imperdiet sem vitae, consectetur lorem. Maecenas lacus elit, venenatis eget tempus ac, tempor eu libero. Aenean rutrum ultricies turpis nec tempus. Cras nibh purus, laoreet id viverra quis, dictum vitae nisi. Sed efficitur mattis metus, quis tempus turpis tristique ut. Nullam mattis convallis nulla, vel rutrum ante pharetra quis. In elit quam, porttitor et laoreet id, pellentesque maximus ligula. Praesent eros nunc, ornare viverra accumsan volutpat, suscipit tristique massa. Praesent sollicitudin tortor non elit tincidunt semper. Vivamus tempus turpis eget urna commodo tincidunt. In aliquet, risus nec aliquet cursus, arcu lorem aliquet lectus, ac porttitor leo ipsum sit amet nulla. Sed fringilla leo lacinia justo porta, sit amet sagittis eros scelerisque. Vestibulum vitae velit in magna rutrum aliquet sed non urna. Nullam elementum dui augue, a blandit urna mattis a.

  Phasellus in porta nulla. Morbi lobortis sed tellus nec ultricies. Nulla diam orci, finibus in mi in, imperdiet maximus nisi. Nam commodo eleifend ex ac faucibus. In eu nisi feugiat ligula tincidunt condimentum. Quisque ac sollicitudin orci. Ut sapien lacus, mollis id arcu at, vestibulum sodales justo. Suspendisse viverra, libero sed fringilla hendrerit, nisi nisi dignissim mi, eget mattis elit odio vel dui. Mauris lacinia hendrerit turpis, id ullamcorper nisl sollicitudin nec. Maecenas consectetur pretium metus sit amet finibus. Donec ullamcorper, elit vitae egestas facilisis, nibh sapien sollicitudin massa, nec finibus leo nulla a ante. Nulla rhoncus tincidunt viverra. Mauris elementum a mi eget porttitor.
</p>
</div>


<!-- <div id="modal">HearHawii
  <div id="btnClose">
    <p>X</p>
  </div>
  <div class="emailform">
    <form action="/process" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
      <label for="email">email</label>
      <input type="email" name="email">
      <input type="submit" value="Submit">
    </form>

</div>
 -->
