<div id="galleryBody">

  <div class="galleryBx">

    <iframe class="imgBx" width="854" height="480"
    src="https://www.youtube.com/embed/yeZmd2jgjyA"
    frameborder="0" allowfullscreen></iframe>

    <div class="galleryText">
      <p>Music in Hawaii, like many other cultures, is not only
      for listening, but also for dancing. This video shows a common style
      of dance called hulu.

      </p>
    </div>
  </div>



  <div class="galleryBx">

    <iframe class="imgBx" width="854" height="480"
    src="https://www.youtube.com/embed/O4u8n_CjUDY"
     frameborder="0" allowfullscreen></iframe>

    <div class="galleryText">
      <p>Playing instruments</p>
    </div>
  </div>



  <div class="galleryBx">

    <iframe class="imgBx" width="854" height="480" src="https://www.youtube.com/embed/pjC10k1mH08"
     frameborder="0" allowfullscreen></iframe>
    <div class="galleryText">
      <p>Just like every other place on earth, music draws people together.
      This video shows people gathered together enjoying Hawaiian music at
      an concert.</p>
    </div>
  </div>



  <div class="galleryBx">

    <iframe class="imgBx" width="854" height="480"
    src="https://www.youtube.com/embed/uh4dTLJ9q9o" frameborder="0"
    allowfullscreen></iframe>
    <div class="galleryText">
      <p>Hawaian Music</p>
    </div>
  </div>



</div>
