<!doctype html>
<html lang="en">
  <!-- ======= ======= ======= head ======= ======= ======= -->
	<head>
	    <meta charset="utf-8">
	    <title>HearHawii</title>
      <!-- == styles == -->
	    <link rel="stylesheet" type="text/css" href="styles.css">
	</head>
  <!-- =========== body =========== -->
  <body>
    
      <!-- ======= menu ======= -->
      <div id="menuBx">
        <%= erb :menu %>
      </div>

      <!-- ======= content ======= -->
      <div id="content">

        <%= yield %>

      </div>
  </body>

<!-- ============== scripts ================= -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script type="text/javascript" src="script.js"></script>
  </body>
</html>
